
#info{
  margin: 120px 0 60px 0;
}

#info .row{
  position: relative;
}

#info .time{
  position: absolute;
  top: 0;
  right: 0;
}

#tickets{
  overflow: hidden;
}

#tickets .ticket{
  width: calc(10% - 10px);
  padding: 20px 0;
  text-align: center;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0 10px 10px 0;
  float: left;
  cursor: pointer;
  background-color: #ccc;
  transform: translateY(0);
  transition: 0.2s ease-in-out transform;
}

#tickets .ticket:hover{
  transform: translateY(-5px);
}

#tickets .ticket.selected{
  background-color: #BF0000;
}

#tickets .ticket.bought{
  background-color: #800000;
}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}