<app-header></app-header>

<section id="info">
  <div class="container">
    <div class="row">
      <h2>Lottery title</h2>
      <p class="time">00:00:00</p>
      <p class="description">info</p>
    </div>
  </div>
</section>

<section id="tickets">
  <div class="container">
    <div class="ticket bought">00</div>
    <div class="ticket selected">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
    <div class="ticket">00</div>
  </div>
</section>

<app-footer></app-footer>