<footer>
  <div class="container">
    <div class="row">
      <div class="col s3">
        <ul>
          <li>List</li>
          <li><a>option</a></li>
          <li><a>option</a></li>
          <li><a>option</a></li>
        </ul>
      </div>
      <div class="col s3">

      </div>
      <div class="col s3">

      </div>
      <div class="col s3">

      </div>
    </div>
    <div class="rights">
      Copyright
    </div>
  </div>
</footer>