footer{
  margin-top: 120px;
  background-color: #13232fe6;
  padding: 60px 0 60px 0;
  color: #fff;
  border-top: 3px solid #BF0000;
}

footer ul{
  list-style: none;
}

footer ul li{

}

footer ul li:first-of-type{
  font-weight: 700;
  margin-bottom: 7.5px;
  padding-bottom: 7.5px;
  border-bottom: #47585E 1px solid;
}

footer a{
  color: #fff;
  transition: color 0.2s ease-in-out;
}

footer a:hover{
  color: #BF0000;
}

footer .rights{
  display: none;
  position: absolute;
}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}