<app-header></app-header>

<section id="info">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2>lotteries</h2>
        <p>Something about the lotteries</p>
      </div>
    </div>
  </div>
</section>

<section id="highlighted">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <p>highlighted lottery</p>  
      </div>
    </div>
  </div>
</section>

<section id="lotteries">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a href="#test0">Test 0</a></li>
          <li class="tab col s3"><a class="active" href="#test1">Test 1</a></li>
          <li class="tab col s3"><a href="#test2">Test 2</a></li>
          <li class="tab col s3"><a href="#test3">Test 3</a></li>
          <li class="tab col s3"><a href="#test4">Test 4</a></li>
        </ul>
      </div>
    </div>
    <div class="row items">
      <div id="test1" class="col s12">
        <div class="col s3">
          <a href="/lottery" class="card">
            <h4>Name</h4>
            <p class="date">00-00-0000</p>
            <p class="availability">100 / 100</p>
          </a>
        </div>
        <div class="col s3">
          <a href="/lottery" class="card">
            <h4>Name</h4>
            <p class="date">00-00-0000</p>
            <p class="availability">100 / 100</p>
          </a>
        </div>
        <div class="col s3">
          <a href="/lottery" class="card">
            <h4>Name</h4>
            <p class="date">00-00-0000</p>
            <p class="availability">100 / 100</p>
          </a>
        </div>
        <div class="col s3">
          <a href="/lottery" class="card">
            <h4>Name</h4>
            <p class="date">00-00-0000</p>
            <p class="availability">100 / 100</p>
          </a>
        </div>
        <div class="col s3">
          <a href="/lottery" class="card">
            <h4>Name</h4>
            <p class="date">00-00-0000</p>
            <p class="availability">100 / 100</p>
          </a>
        </div>
        <div class="col s3">
          <a href="/lottery" class="card">
            <h4>Name</h4>
            <p class="date">00-00-0000</p>
            <p class="availability">100 / 100</p>
          </a>
        </div>
        <div class="col s3">
          <a href="/lottery" class="card">
            <h4>Name</h4>
            <p class="date">00-00-0000</p>
            <p class="availability">100 / 100</p>
          </a>
        </div>
        <div class="col s3">
          <a href="/lottery" class="card">
            <h4>Name</h4>
            <p class="date">00-00-0000</p>
            <p class="availability">100 / 100</p>
          </a>
        </div>
      </div>
      <div id="test2" class="col s12"><p>Test 2</p></div>
      <div id="test3" class="col s12"><p>Test 3</p></div>
      <div id="test4" class="col s12"><p>Test 4</p></div>
    </div>
  </div>
</section>

<app-footer></app-footer>