
#info{
  padding: 120px 0 60px 0;
}

#highlighted{
  padding: 0;
}

#lotteries{
  
}

#lotteries .tabs{

}

#lotteries .tabs a{

}

#lotteries .items{

}

#lotteries .card{
  padding: 30px;
  text-align: center;
  display: block;
  color: #BF0000;
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;
}

#lotteries .card:hover{
  transform: translateY(-10px);
}

#lotteries h4{
  font-size: 18px;
}

#lotteries .date{

}

#lotteris .availability{

}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}