<header>
  <a href="/home"><div class="logo">Winnable</div></a>
  <ul>
    <li><a href="/lotteries">Lotteries</a></li>
    <li><a href="/provider">Provisions</a></li>
    <li><a href="/profile">Profile</a></li>
  </ul>
  <div (click)="logout()">logout</div>
</header>