<app-header></app-header>

<section id="policy">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2>Winnable Terms and Conditions</h2>
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <ul>
          <li><a href="#introduction">Introduction</a></li>
          <li><a href="#parties-licensing">Parties and licensing</a></li>
        </ul>
      </div>
      <div class="col s9">
        <h3 id="introduction">Introduction</h3>
          <h4>1.1</h4>
          Please read these terms and conditions carefully before you start to use any section of this Website. By using any section of the Website or by opening an account through this Website, you agree that you have understood and accepted and shall be bound by:
          
          <ul>
            <li>these Website Terms and Conditions (Website Terms);</li>
            <li>rules of each game or product which you are playing;</li>
            <li>the General Promotional Terms and Conditions;</li>
            <li>any terms and conditions and or rules with regards to promotions, bonuses and special offers which may apply from time to time (including Significant Terms and Conditions);</li>
            <li>Our Privacy Policy and Cookie Policy; and</li>
            <li>Any other rules and terms and conditions made available on the Website, (together the Terms of Use).</li>
          </ul>
          
          <h4>1.2</h4>
          Your continued use of the Website will constitute acceptance of the Terms of Use and a legally binding agreement between you and the relevant entity outlined in clause 2 (Parties and Licensing).  
          
          <h4>1.3</h4>
          These Terms of Use apply when you use the Website and supersede any previous agreements in relation to your use of the Website.
          
          <h4>1.4</h4>
          In the event of any conflict between the Terms of Use, the order of precedence shall be set out in clause 1.1 (Introduction). The Terms shall also apply to all betting or gaming via mobile and tablet devices including downloadable applications to a mobile device (as if references to your use of the Website were references to your use of mobile devices betting facilities).
          
          <h4>1.5</h4>
          You acknowledge that there is a risk of losing money when gambling through the Website and you are fully responsible for any such loss.
        <h3 id="parties-licensing">Parties and licensing</h3>
          <h4>2.1</h4>
          The Terms of Use shall be agreed between you and White Hat Gaming Limited, a Maltese company whose registered address is 85 St John, Valletta, VLT1165, Malta

          <h4>2.2</h4>
          Unless otherwise stated, ‘you’, ‘your’, ‘user’ or ‘player’ means any person who uses our software and/or the Website. Unless otherwise stated, ‘we’ ‘us’ or ‘our’ refers collectively to the relevant entity outlined in clause 2.1 (Parties and Licensing) and its subsidiaries, affiliates, directors, officers, employees, agents and contractors from time to time.

          <h4>2.3</h4>
          Gambling activity carried out via this Website is licensed and regulated by the Malta Gaming Authority (MGA) with licence numbers: MGA/B2C/370/2017 issued on the 01/08/2018.
        <h3 id="">Changing the terms of use</h3>
        <h3 id="">Registering your account</h3>
        <h3 id="">Verification checks</h3>
        <h3 id="">Use of our website</h3>
        <h3 id="">Restricted territories and restricted jackpot territories</h3>
        <h3 id="">Maintaining your account</h3>
        <h3 id="">Account funds, deposits and withdrawals</h3>
        <h3 id="">Payments of winnings</h3>
        <h3 id="">Currencies and currency arbitrage</h3>
        <h3 id="">Maximum payout and jackpot wins</h3>
        <h3 id="">Chat facility</h3>
        <h3 id="">Responsible gambling: player protection and controls</h3>
        <h3 id="">Closing your account</h3>
        <h3 id="">Inactive account</h3>
        <h3 id="">Downloads</h3>
        <h3 id="">Play for fun account</h3>
        <h3 id="">Indemnity</h3>
        <h3 id="">Fraud</h3>
        <h3 id="">Complaints and disputes</h3>
        <h3 id="">Information we collect about you</h3>
        <h3 id="">Promotions</h3>
        <h3 id="">No warranty</h3>
        <h3 id="">Right to void</h3>
        <h3 id="">Limitation of liability</h3>
        <h3 id="">IT failure</h3>
        <h3 id="">Links to our website</h3>
        <h3 id="">Intellectual property rights</h3>
        <h3 id="">Miscellaneous</h3>
        https://www.casimba.com/en-mt/terms
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>

