
.card{
  padding: 30px;
  height: 100%;
}

#account{
  margin: 120px 0 30px 0;
}

#account ul{
  
}

#account li{
  border-bottom: 1px solid #47585E;
}

#account li:last-of-type{
  border: none;
}

#account li a{
  display: block;
  padding: 15px 0;
  color: #000;
  transition: color 0.2s ease-in-out;
}

#account li a:hover{
  color: #BF0000;
}

#account .content{

}

#account .content div{
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in-out;
  transition-property: opacity, visibility;
}

#account .content .active{
  opacity: 1;
  visibility: visible;
}

#wallet{

}

#wallet .current{
  font-size: 20px;
  text-align: center;
}

#wallet span{
  font-size: 40px;
  display: block;
  margin-bottom: 30px;
}

#wallet .current a{
  color: #BF0000;
  position: absolute;
  bottom: 15px;
}

#wallet .current a:first-of-type{
  left: 30px;
}

#wallet .current a:last-of-type{
  right: 30px;
}

#wallet .charts{

}

#wallet ul{

}

#wallet li{
  overflow: hidden;
  border-bottom: 1px solid #47585E;
}

#wallet li:last-of-type{
  border: none;
}

#wallet li *{
  display: inline;
}

#wallet li h4{
  float: left;
  font-size: 20px;
}

#wallet li h5,
#wallet li h6{
  float: right;
}

#wallet li h6{
  margin-right: 30px;
  line-height: 30px;
}

#wallet li.added h5{
  color: green;
}

#wallet li.spend h5{
  color: #BF0000;
}

#wallet h4{

}

#wallet p{

}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}