<app-header></app-header>

<section id="account">
  <div class="container">
    <div class="row flex">
      <div class="col s3 panel">
        <div class="card">
          <img src="assets/images/user-placeholder.png">
          <b>Marijn de smit</b>
          <ul>
            <li><a href="#general">general</a></li>
            <li><a href="#other">other</a></li>
            <li><a href="/provider">Provisions</a></li>
          </ul>
        </div>
      </div>
      <div class="col s9 content">
        <div id="general" class="active card">
          <h2>General settings</h2>
          <p>...</p>
        </div>
        <div id="other" class="card"></div>
      </div>
    </div>
  </div>
</section>

<section id="wallet">
  <div class="container">
    <div class="row flex">
      <div class="col s3 current">
        <div class="card">
          <p>Current balans: </p><span>100,-</span>
          <a href="#">deposit</a>
          <a href="#">withdraw</a>
        </div>
      </div>
      <div class="col s9 details">
        <div class="card">

          <div class="charts">
            data
          </div>
          <ul>
            <li class="added">
              <h4>Claimed giftcard from Johnson</h4>
              <h5>+ 20,-</h5>
              <h6>00-00-0000</h6>
            </li>
            <li class="spend">
              <h4>Spend on Blackjack</h4>
              <h5>- 10,-</h5>
              <h6>00-00-0000</h6>
            </li>
          </ul>
          
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>