<app-panel></app-panel>

<section id="lottery" class="entity">
  <div class="container">
    <div class="row">
      <div class="col s12 relative">
        <h3>Lotteries</h3>
        <button data-target="lotteryForm" class="btn modal-trigger create" (click)="changeState(0, 'create', 'lottery')">+</button>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <table>
          <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let lottery of data.lotteries">
            <td>{{ lottery.name }}</td>
            <td>{{ lottery.price }}</td>
            <td>
              <button data-target="confirm" class="btn modal-trigger" (click)="changeState(lottery.id, 'delete', 'lottery')">X</button>
              <button data-target="lotteryForm" class="btn modal-trigger" (click)="changeState(lottery.id, 'update', 'lottery')">Edit</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<div id="lotteryForm" class="modal form">
  <div class="modal-content">
    <h4>Lottery</h4>
    <div class="row">
      <form class="col s12" autocomplete="off" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
        <input type="hidden" id="type" name="type" value="lottery"/>
        <div class="row">
          <div class="col s12 input-field">
            <input id="lotteryName" type="text" [(ngModel)]="model.lotteryName" name="lotteryName">
            <label for="lotteryName">name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <select id="category" [(ngModel)]="model.category" name="category">
              <option value="" selected disabled hidden>Choose what type</option>
              <option *ngFor="let type of Category | enumToArray">{{type}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <button id="submit" class="btn modal-close">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button class="modal-close btn">X</button>
  </div>
</div>

<div id="confirm" class="modal">
  <div class="modal-content">
    <h4>Are you sure?</h4>
    <div class="row">
      <form class="col s12">
        <button class="btn modal-close" (click)="delete()">Yes!</button>
        <button class="modal-close btn">No?</button>
      </form>
    </div>
  </div>
</div>