
#header{

}

#panel{
  transform: none;
  width: 400px;
  background: #fafafa;
}

#panel li{

}

#panel a{
  font-size: 24px;
  color: #000 !important;
  height: auto;
  font-weight: 400;
  padding: 7.5px 30px;
}

.user{
  background: #26a69a;
}

.entities{

}

.entities li{

}

.entities li a{

}

#manager{

}

.entity{
  
}

h3{

}

.create{
  position: absolute;
  right: 15px;
  top: 35px;
}

table{

}

tr{

}

th{

}

td{

}

table button{
  float: right;
  margin-left: 15px;
}

.global{

}

.users{

}

.modal-content{
  position: relative;
}

.modal h4{
  margin-bottom: 30px;
}

.modal-footer .modal-close{
  position: absolute;
  top: 30px;
  right: 30px;
}

#confirm button{
  margin-right: 30px;
}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}