<div class="form">
      
  <ul class="tab-group">
    <li class="tab active"><a href="#signup">Sign Up</a></li>
    <li class="tab"><a href="#login">Log In</a></li>
  </ul>
  
  <div class="tab-content">
    <div id="signup">   
      <!-- <h1>Sign Up for Free</h1> -->
      
      <form autocomplete="off" name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
      
      <div class="top-row">
        <div class="field-wrap" [ngClass]="{ 'has-error': f.submitted && !firstname.valid }">
          <label>
            First Name<span class="req">*</span>
          </label>
          <input type="text" id="firstname" name="firstname" [(ngModel)]="model.firstname" #firstname="ngModel" required/>
        </div>
    
        <div class="field-wrap" [ngClass]="{ 'has-error': f.submitted && !lastname.valid }">
          <label>
            Last Name<span class="req">*</span>
          </label>
          <input type="text" id="lastname" name="lastname" [(ngModel)]="model.lastname" #lastname="ngModel" required/>
        </div>
      </div>

      <div class="field-wrap" [ngClass]="{ 'has-error': f.submitted && !mail.valid }">
        <label>
          Email Address<span class="req">*</span>
        </label>
        <input type="email" id="email" name="email" [(ngModel)]="model.email" #email="ngModel" required/>
      </div>

      <div class="field-wrap" [ngClass]="{ 'has-error': f.submitted && !mail.valid }">
        <label>
          Phone<span class="req">*</span>
        </label>
        <input type="tel" id="phone" name="phone" [(ngModel)]="model.phone" #phone="ngModel" required/>
      </div>
      
      <div class="field-wrap" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <label>
          Password<span class="req">*</span>
        </label>
        <input type="password" id="password" name="password" [(ngModel)]="model.password" #password="ngModel" required/>
      </div>

      <div class="field-wrap" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <label>
          Password Confirm<span class="req">*</span>
        </label>
        <input type="password" id="passwordConfirm" name="passwordConfirm" [(ngModel)]="model.passwordConfirm" #passwordConfirm="ngModel" required/>
      </div>
      
      <!-- <button id="submit" type="submit" value="register" class="button button-block" [disabled]="loading">Get Started</button> -->
      <button id="register" class="button button-block" (click)="register()">Get Started</button>

      </form>
    </div>
    
    <div id="login">   
      <!-- <h1>Welcome Back!</h1> -->
      
      <form autocomplete="off" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      
        <div class="field-wrap" [ngClass]="{ 'has-error': f.submitted && !mail.valid }">
        <label>
          Email Address<span class="req">*</span>
        </label>
        <input type="mail" id="mail" name="mail" [(ngModel)]="model.mail" #mail="ngModel" required/>
      </div>
      
      <div class="field-wrap" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <label>
          Password<span class="req">*</span>
        </label>
        <input type="password" id="password" name="password" [(ngModel)]="model.password" #password="ngModel" required/>
      </div>
      
      <p class="forgot"><a href="#">Forgot Password?</a></p>

      <!-- <button id="submit" type="submit" value="login" class="button button-block" [disabled]="loading">Log In</button> -->
      <button class="button button-block" (click)="login()">Log In</button>
      
      </form>
    </div>
  </div>
  <p class="error">{{errorMessage}}</p>
</div>