
#splash{
  height: 100vh;
  background-image: url("https://via.placeholder.com/1920x1080");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#splash .align{
  position: absolute;
  top: 200px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}

#splash h1{
  font-size: 60px;
}

#splash h2{
  font-size: 45px;
}

#about{
  position: relative;
  z-index: 1;
  width: 1600px;
  margin: auto;
  margin-top: -120px;
  padding: 120px 0;
  background-color: #fff;
}

#usp{

}

#quick-start{
  text-align: center;
  padding: 120px 0;
}

#quick-start a{
  color: #000;
}

#quick-start i{
  font-style: normal;
  font-size: 46px;
  color: #BF0000;
}

#quick-start p{
  font-size: 18px;
  padding: 0 30px;
}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}