<app-header></app-header>

<section id="splash">
  <div class="center">
    <h1>Winnable</h1>
    <h2>Earnings probable, fun guaranteed</h2>
  </div>
</section>

<section id="about">  
  <div class="container">
    <div class="row title">
      <div class="col s12">
        <h2>What even is Winnable?</h2  >
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dignissim accumsan dui, in scelerisque magna bibendum a. Sed nec lorem aliquet, gravida eros ut, ullamcorper leo. Maecenas ut quam nisi. Aenean pellentesque nulla purus, vitae efficitur est aliquam faucibus. Nulla facilisi. Maecenas commodo, quam a porta commodo, neque lorem pulvinar urna, non vestibulum enim ex eget turpis.</p>
      </div>
      <div class="col s6">
        <p>Nam sed nulla id nibh cursus posuere. Phasellus cursus ante ligula, vitae vehicula est laoreet sit amet. Donec fermentum, velit id aliquam hendrerit, arcu nunc vulputate arcu, a bibendum quam nisl et lacus.</p>
        <p>Maecenas vitae mi tellus. Quisque non orci sed justo placerat interdum. Pellentesque nisi lacus, condimentum blandit ipsum sit amet, sodales dapibus mauris. Cras iaculis, nisi ut euismod semper, libero dolor lacinia tortor, eget condimentum orci dui sollicitudin velit. Fusce vitae ultricies nulla, non suscipit risus.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s6"></div>
      <div class="col s6"></div>
    </div>
  </div>
</section>

<section id="usp">
  <div class="container">
    <div class="row">
      <div class="col s12">

      </div>
    </div>
  </div>
</section>

<section id="quick-start">
  <div class="container">
    <div class="row title">
      <div class="col s12">
        <h2>Let's get you started</h2>
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <a href="">
          <i>1.</i>
          <p>Create your profile</p>
        </a>
      </div>
      <div class="col s3">
        <a href="">
          <i>2.</i>
          <p>Make sure there's something in your wallet</p>
        </a>
      </div>
      <div class="col s3">
        <a href="">
          <i>3.</i>
          <p>Partake in one of the activities</p>
        </a>
      </div>
      <div class="col s3">
        <a href="">
          <i>4.</i>
          <p>Profit</p>
        </a>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>