
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('/src/assets/fonts/robotoroboto-v20-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('/src/assets/fonts/robotoroboto-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/src/assets/fonts/robotoroboto-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/src/assets/fonts/robotoroboto-v20-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/src/assets/fonts/robotoroboto-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/src/assets/fonts/robotoroboto-v20-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/src/assets/fonts/robotoroboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('/src/assets/fonts/robotoroboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/src/assets/fonts/robotoroboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/src/assets/fonts/robotoroboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/src/assets/fonts/robotoroboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/src/assets/fonts/robotoroboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('/src/assets/fonts/robotoroboto-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('/src/assets/fonts/robotoroboto-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/src/assets/fonts/robotoroboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/src/assets/fonts/robotoroboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
       url('/src/assets/fonts/robotoroboto-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/src/assets/fonts/robotoroboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/src/assets/fonts/robotoroboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('/src/assets/fonts/robotoroboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/src/assets/fonts/robotoroboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/src/assets/fonts/robotoroboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/src/assets/fonts/robotoroboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/src/assets/fonts/robotoroboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

*{
  font-family: "Roboto";
}

h1, h2, h3, h4, h5, h6{
  letter-spacing: 2px;
}

h1{
  font-size: 38px;
}

h2{
  font-size: 34px;
}

h3{
  font-size: 30px;
}

h4{
  font-size: 26px;
}

h5{
  font-size: 22px;
}

h6{
  font-size: 18px;
}

p{
  letter-spacing: 1px;
  line-height: 1.5em;
}

a{
  text-decoration: none !important;
}

.title{
  margin-bottom: 0;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
  color: #BF0000;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #BF0000;
  -webkit-box-shadow: 0 1px 0 0 #BF0000;
  box-shadow: 0 1px 0 0 #BF0000;
}

.btn, .btn-large, .btn-small {
  text-decoration: none;
  color: #fff;
  background-color: #BF0000;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
}

.datepicker-date-display{
  background-color: #BF0000;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
  color: #BF0000;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: #800000;
}

body, html{
  background-color: #fafafa;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

img{
  max-width: 100%;
}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}