
header{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 400px;
  background-color: #13232fe6;
  color: #fff;
  padding: 60px;
}

header .logo{
  display: block;
  font-size: 30px;
  color: #fff !important;
}

header h2{
  margin: 0;
}

header h3{
  font-size: 18px;
  margin: 5px 0 30px 5px;
}

header ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

header li{
  margin-bottom: 15px;
  padding-bottom: 15px;
  position: relative;
}

header ul li:not(:last-of-type):after{
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  background: #47585E;
  position: absolute;
  bottom: 0;
}

header a{
  padding: 5px;
  color: #fff;
  transition: 0.2s ease-in-out color;
}

header a:hover{
  color: #BF0000;
}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}