<header>
  <a href="/home" class="logo"><h2>Winnable</h2></a>
  <h3>Provider dashboard</h3>
  <ul>
    <li><a href="#">Dashboard</a></li>
    <li><a href="#">Lotteries</a></li>
    <li><a href="#">...</a></li>
  </ul>
</header>